<div class="contact-form-container">
  <!-- <form (ngSubmit)="onSubmit()" #contactForm="ngForm">
    <div>
      <label for="firstName">First Name</label>
      <input type="text" id="firstName" name="firstName" [(ngModel)]="formData.firstName" required>
    </div>
    <div>
      <label for="lastName">Last Name</label>
      <input type="text" id="lastName" name="lastName" [(ngModel)]="formData.lastName" required>
    </div>
    <div>
      <label for="age">Age</label>
      <input type="number" id="age" name="age" [(ngModel)]="formData.age">
    </div>
    <div>
      <label for="hideEmail">Hide Email</label>
      <input type="checkbox" id="hideEmail" name="hideEmail" [(ngModel)]="formData.hideEmail">
    </div>
    <div *ngIf="!formData.hideEmail">
      <label for="email">Email</label>
      <input type="email" id="email" name="email" [(ngModel)]="formData.email" pattern="[^@\s]+@[^@\s]+\.[^@\s]+" required>
    </div>
    <div>
      <label for="comment">Comment</label>
      <textarea id="comment" name="comment" [(ngModel)]="formData.comment" required></textarea>
    </div>
    <button type="submit" [disabled]="!contactForm.valid">Send</button> 
    </form>
  -->

  <form class="contact-form" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field>
      <mat-label>First Name</mat-label>
      <input matInput formControlName="firstName" />
      <mat-error *ngIf="form.get('firstName')?.hasError('required')"
        >First Name is required</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Last Name</mat-label>
      <input matInput formControlName="lastName" />
      <mat-error *ngIf="form.get('lastName')?.hasError('required')"
        >Last Name is required</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Age</mat-label>
      <input matInput type="number" formControlName="age" />
      <mat-error *ngIf="form.get('age')?.hasError('required')"
        >Age is required</mat-error
      >
    </mat-form-field>

    <mat-checkbox  (change)="changeValidatorOnClick()" formControlName="hideEmail"
      >Hide Email</mat-checkbox
    >

    <div *ngIf="!form.get('hideEmail')?.value">
      <mat-form-field class="w-100">
        <mat-label>Email</mat-label>
        <input matInput type="email" formControlName="email" />
        <mat-error *ngIf="form.get('email')?.hasError('email')"
          >Enter a valid email address</mat-error
        >
      </mat-form-field>
    </div>

    <mat-form-field>
      <mat-label>Comment</mat-label>
      <textarea matInput formControlName="comment" rows="5"></textarea>
    </mat-form-field>

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="form.invalid"
    >
      Submit
    </button>
  </form>
</div>
